.tabs {
  float: right;
}

.imageCenter {
  text-align: center;
}

.emptycart {
  text-align: center;
}

.emptycartbutton {
  width: 220px;
}

.emptycartbutton p {
  font-size: 22px;
}

.frontLogo {
  position: relative;
  z-index: -1;
  height: 240px;
  width: 310px;
  margin-bottom: -37px;
}
