.mainBody {
  padding-left: 20px;
  padding-right: 20px;
}

.imageCenter {
  text-align: center;
}

.frontLogo {
  border-radius: 2px;
  height: 340px;
  width: 410px;
}

.cart {
  width: 32%;
  height: 366px;
  float: right;
  border-width: 3px;
  border-style: solid;
  border-color: yellow;
}

/* .cartItems {
  border-width: 3px;
  border-style: solid;
  border-color: yellow;
} */

.menu {
  position: absolute;
  width: 62%;
  display: inline-block;
}
